<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Темы - MathBattle</title>
    {% load static%}
    <link rel="apple-touch-icon" href="{% static 'contest/app-assets/images/ico/apple-icon-120.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/vendors/css/vendors.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/vendors/css/tables/datatable/datatables.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/vendors/css/file-uploaders/dropzone.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/css/themes/semi-dark-layout.css" %}">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/css/bootstrap-extended.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/css/colors.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/css/components.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/css/themes/dark-layout.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/css/themes/semi-dark-layout.css" %}">
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/css/core/menu/menu-types/vertical-menu.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/css/core/colors/palette-gradient.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/css/plugins/file-uploaders/dropzone.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "contest/app-assets/css/pages/data-list-view.css" %}">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static "contest/assets/css/style.css" %}">
    <!-- END: Custom CSS-->
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->
<style type="text/css">
body {
    background: url({% static "contest/vuesax-login-bg.jpg" %}) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>

<body class="vertical-layout vertical-menu-modern semi-dark-layout 1-column  navbar-floating footer-static blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column" data-layout="semi-dark-layout">
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-xl-8 col-11 d-flex justify-content-center">
                        <div class="card bg-authentication rounded-0 mb-0">
                            <div class="row m-0">
                                <div class="col-lg-6 col-12 p-0" style="min-width : 600px;">
                                    <div class="card rounded-0 mb-0 px-2">
                                        <div class="card-header pb-1">
                                            <div class="card-title">
                                                <h4 class="mb-0">Вход</h4>
                                            </div>
                                        </div>
                                        <p class="px-2">Добро пожаловать, войдите в аккаунт чтобы продолжить</p>
                                        <div class="card-content">
                                            <div class="card-body pt-1">
                                                <form action="?" method="post">
                                                    {% csrf_token %}
                                                    <fieldset class="form-label-group form-group position-relative has-icon-left">
                                                        <input type="text" class="form-control" id="user-name" placeholder="Логин" name="username" required>
                                                        <div class="form-control-position">
                                                            <i class="feather icon-user"></i>
                                                        </div>
                                                        <label for="user-name">Username</label>
                                                    </fieldset>
                                                    <fieldset class="form-label-group position-relative has-icon-left">
                                                        <input type="password" class="form-control" id="user-password" name="password" placeholder="Пароль" required>
                                                        <div class="form-control-position">
                                                            <i class="feather icon-lock"></i>
                                                        </div>
                                                        <label for="user-password">Password</label>
                                                    </fieldset>
                                                    <a href="auth-register.html" class="btn btn-outline-primary float-left btn-inline">Зарегестрироваться?</a>
                                                    <button type="submit" class="btn btn-primary float-right btn-inline">Войти</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="login-footer">
                                            <div class="divider">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- BEGIN: Vendor JS-->
    <script src="{% static "contest/app-assets/vendors/js/vendors.min.js" %}"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static "contest/app-assets/vendors/js/extensions/dropzone.min.js" %}"></script>
    <script src="{% static "contest/app-assets/vendors/js/tables/datatable/datatables.min.js" %}"></script>
    <script src="{% static "contest/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js" %}"></script>
    <script src="{% static "contest/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js" %}"></script>
    <script src="{% static "contest/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js" %}"></script>
    <script src="{% static "contest/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js" %}"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="{% static "contest/app-assets/js/core/app-menu.js" %}"></script>
    <script src="{% static "contest/app-assets/js/core/app.js" %}"></script>
    <script src="{% static "contest/app-assets/js/scripts/components.js" %}"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="{% static "contest/app-assets/js/scripts/ui/data-list-view.js" %}"></script>
    <!-- END: Page JS-->
</body>
<!-- END: Body-->

</html>