@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800,600, 400');

body, html {
	margin: 0;
	font-family: Open Sans, sans-serif;
	font-weight: 800;
}

a {
	outline: none;
	color: #FF8100;
}
a:active
{
	color: #979797;
}
p
{
	font-size: 12px;
}
td
{
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}
th
{
	font-weight: 800;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;

}
.navbar-container {
	text-align: left;
	background-color: #FFF;
	padding: 10px;
	font-size: 0;
	border-style: solid;
	border-width: 2px;
	border-color: #979797;
	border-radius: 10px;
}

.navbar-container ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.navbar-container ul li {
	display: inline-block;
	font-size: 16px;
}

.navbar-container ul li a {
	color: #000000;
	text-decoration: none;
	display: inline-block;	
	padding: -30px;
	transition: color 0.5s;
}

.navbar-container ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color: #FF8100;
}

.navbar-container ul li:hover .underline {
	background-color:  #FF8100;
	width: 100%;
}

.navbar-container ul li:hover a {
}

.navbar-container ul li:active a {
	transition: none;
	color: rgba(0,0,0,0.76);
}

.navbar-container ul li:active .underline {
	transition: none;
	background-color: rgba(0,0,0,0.76);
}